.main>form {
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(214, 210, 210, 0.694);
}

.main>form>label {
    font-size: 20px;
}

.main>form>input[type="submit"] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.main>form>input[type="submit"]:hover {
    background-color: #313131;
}

* {
    box-sizing: border-box;
}

.main>form>input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

p {
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

img {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align: center;
    margin: auto;
    text-decoration: underline;
    color: black;
}

.main {

    /* background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_588609682_375595.jpg"); */
    height: 600px;
}